.Navbar{
  text-decoration: none;
  justify-content: space-between;
  padding: inherit;
  margin-top: 0px;
}


* {
  padding: 0;
  margin: 0;
}

/* ul, ol {
  list-style: none;
} */

header {
  justify-content: space-between;
  text-align: right;
  padding-right: 5em;
}

nav {
  display: block;
}


nav li {
  text-align: center;
  display: inline-table;
  text-decoration: none;

}

nav li a {
  display: inline-block;
  text-align: center;
  align-items: center;
}


body {

}
