* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  /* background: url("./img/Screen_Shot_2021-01-03_at_17.21.01.png") */
}

/* Navbar */

/* on scroll */

.scrolling-active {
  background-color: #1A1A1A;
  height: 80px;
}

header {
  width: 100%;
  position: fixed;
  padding-left: 7em;
  padding-right: 7em;
  /* margin: 20px auto; */
  height: 80px;
  z-index: 9999999;
  display: flex;
  align-items: center;
  transition-duration: .4s;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.ZOW_logo {
  width: 220px;
  margin-right: auto;
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  position: relative;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #929292;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;

  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {

}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #000;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

/* hero section */

.first_hero {
  height: 90vh;
  /* max-height: 50em; */
  background-size: cover;
  background-image: url(img/DarkTint_bg_lvl4_ZOW.png);
  /* background-position: top; */
}

.hero_img {
  margin-left: auto;
  margin-right: auto;
  height: 51%;
  /* height: 25em; */
  margin-right: 4%;
  margin-left: 20%;
  object-fit: cover;
  border-radius: 30px;
  width: 45%;

  max-height: 30em;
  max-width: 80em;
  

  display: block;
  position: relative;
  top: 45%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.text-container {
  background-color: rgb(255,255,255, 0.8);

  padding-top: 4.5%;
  padding-bottom: 4.5%;
  padding-left: 4.5em;
  padding-right: 4.5em;
  border-radius: 35px;
  width: 45%;
  /* height: 60%; */
  
  display: block;
  position: relative;
  top: 10%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.text-container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #333233;
}

.text-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  color: #262626;
  margin-bottom: 25px;
}


/* first hero responsiveness ___________________________________________________*/
@media only screen and (min-width: 1500px) {
  .text-container {
    top: 4%;
    left: 65%;
    padding-left: 5em;

  }
  .hero_img {
    top: 41%;
    left: 15%;
    width: 45%;
    height: 57%;
  }
  
  .text-container p {
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 20px;
  }
  .text-container h1 {
    font-size: 40px;
  }

  
}

/* @media only screen and (max-width: 1500px) {
  .text-container {
    width: 40%;
  }
} */

@media only screen and (max-width: 1350px) {
  .hero_img {
    /* height: 43%; */
    width: 50%;
    /* max-height: 22em; */
  }
  /* .first_hero {
    padding-bottom: 20%;
    padding-top: 5em;
  } */
  .text-container {

    margin-top: 5em;
    top: 0%;
    width: 50%;
  }
  
}

@media only screen and (max-width: 1050px) {
  .hero_img {
    width: 50%;
    height: 41%;
  }
  .text-container {
    /* width: 50%; */
    top: 12%;
  }

  .text-container p {
    font-size: 14px;
    margin-right: 1.6em;
  }
  .text-container h1 {
    font-size: 31px;
  }
  
}

@media only screen and (max-width: 600px) {
  .text_section {
    /* visibility: hidden; */
    margin-top: -8em;
  /* background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)); */
    
  }
  .text_section p {
    display: none;
  }

  .text-container {
    padding-left: 0;
    text-align: center;
    left: 50%;
    width: 80%;
    /* bottom: 0em; */
    background: linear-gradient(#F5F5F5, #CACACA);
  }

  .hero_img {
    visibility: hidden;
  }

  /* * {
    background-color: rgb(202, 202, 202);
  } */
  
}

/* buttons */

.main_btn {
  text-decoration: none;
  color: #fff;
  border-radius: 16px;
  border: none;
  padding: 20px;
  width: 170px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(90deg, red, orange);
}

.outline_btn {
  /* background: linear-gradient(to right, #F13500, #FFB400);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  padding: 10px;
  width: 130px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  border: 5px solid transparent;
  border-image: linear-gradient(90deg, red, orange);
  border-image-slice: 1;
  border-radius: 16px; */

  padding: 10px;
  font-size: 18px;
  padding: 6px 30px;
  font-family: 'Poppins', sans-serif;

  background: -webkit-linear-gradient(0deg, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border: transparent;
  border-radius: 16px;
}

.outline_btn-container {
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 5px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, red, orange);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #E8E8E8 inset;
  border-radius: 18px;

  width: 144px;
  margin: auto;
}

/* text section */

.text_section {
  background-color: #E9EDF2;

  padding: 4em;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #414141;
}

@media only screen and (min-width: 1500px) {
  .text_section {
    padding-left: 13.5%;
    padding-right: 13.5%;
  }
}

/* Our Team section */

.Our_Team {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
}

.Our_Team h1 {
  font-size: 40px;
  margin: 80px 0 40px;
  background: linear-gradient(0deg, #F13500, #FFB400);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.Our_Team p {
  font-size: 29px;
  margin: 40px 0 60px;
  color: #414141;
}

hr {
  width: 80px;
  border: 0;
  border-bottom: 5px solid #C7C7C7;
  margin: auto;
}

/* Contact Us section */

.Contact_Us {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 65%;
  margin: auto;
  background: linear-gradient(#F5F5F5, #E4E4E4);
  border-radius: 30px;
  padding-top: 0.3em;
  padding-bottom: 100px;
}

.Contact_Us h1 {
  font-size: 40px;
  margin: 80px 0 40px;
  background: linear-gradient(0deg, #F13500, #FFB400);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.Contact_Us p {
  font-size: 29px;
  margin: 40px 0 40px;
  color: #414141;
}

/* game ideology */

.Game_Ideology {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#F5F5F5, #A4A4A4);
  padding-bottom: 8em;
}

.Game_Ideology h1{
  font-size: 40px;
  margin: 80px 0 40px;
  background: linear-gradient(0deg, #F13500, #FFB400);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  text-align: center;
  padding-top: 1.5em;
}

.level_section h2 {
  text-align: center;
  padding-top: 2em;
  margin-bottom: -4.5em;
  font-size: 30px;
}

.level_section {
  /* height: 40em; */
}

/* 1 */

.img_and_p1 {
  margin-top: 3.5em;
}

.img_and_p1 img {
  width: 30%;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: 20%;
  position: relative;
  left: 42.5%;
  transform: translate(-50%, -50%);
  margin-bottom: -10em;
}

.img_and_p1 p{
  background-color: #2A2A2A;
  color: #fff;
  font-size: 30px;
  padding: 4%;
  border-radius: 35px;
  width: 30%;
  display: block;
  position: relative;
  left: 37.5%;
  top: 9em;
  transform: translate(-50%, -50%);
  z-index: 20;
}

/* 2 */

.img_and_p2 img {
  width: 30%;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: 20%;
  position: relative;
  left: 17.5%;
  transform: translate(-50%, -50%);
  margin-bottom: -89px;

}

.img_and_p2 p {
  background-color: #2A2A2A;
  color: #fff;
  font-size: 30px;
  padding: 4%;
  border-radius: 35px;
  width: 30%;
  display: block;
  position: relative;
  left: 62.5%;
  top: 14em;
  transform: translate(-50%, -50%);
  z-index: 20;
}

/* responsive */
@media only screen and (max-width: 1540px) {
  .level_section h2 {
    margin-top: 1.5em;
  }

  .Game_Ideology hr {
    margin-bottom: -3em;
  }

  .level_section p {
    font-size: 23px;
  }

  .img_and_p1 {
    margin-top: 4.5em;
  }

  .img_and_p2 {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 1210px) {
  .level_section p {
    font-size: 18px;
  }

  .img_and_p1 {
    /* margin-top: 3em; */
  }

  .img_and_p2 {
    margin-top: 2.7em;
    margin-bottom: -7.7em;
  }

  .Game_Ideology {
    padding-bottom: 10em;
  }
}

/* footer section */

footer {
  background-color: #2A2A2A;
  text-align: center;
  /* margin-top: 7em; */
}

.pages_links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  color: #B8B8B8;
  padding: 4em 0 3em;
}

.pages_links a {
  margin: 0 1em 0;
  text-decoration: none;
  color: #B8B8B8;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

footer p {
  font-family: 'Poppins', sans-serif;
  color: rgba(154, 154, 154, 0.4);
  font-size: 14px;
  padding: 1em 0 1em;
}

/* about us page*/

/* navbar colored */

.navbar_colored-bg {
  background-color: #2A2A2A;
}

/* about us page */
.about_us-section {
  padding-top: 12em;
  padding-bottom: 25em;

  background-image: url(img/ZOW_AboutUs-bg.png);
  background-repeat: no-repeat;
  background-size: 1250px;
  background-position:  center;
}

.about_us-section h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: #2A2A2A;
}

.about_us-section hr {
  width: 220px;
  border-bottom: 12px solid #FFA600;
  /* margin: -25px auto; */

  /* transform: translate(-50%, -50%); */
}

.hr-off_center {
  margin:-27px auto;
  width:100%;
  margin-left:8px;
}

.about_us-p_wrapper {
  padding-top: 6em;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;

  margin: 0 auto;
  width: 290px;

}

.first_p {
  margin-left: -80%;
}

.second_p {
  margin-right: -80%;
  padding-top: 8em;
  text-align: right;
}



/* phone size responsiveness */


/* download page */

.download-section {
  padding-top: 12em;
}

.download-content h1 {
  font-family: "Montserrat", sans-serif;

  margin: 3em 0 0.5em;
  color: #4E4E4E;
  font-size: 27px;
  /* font-weight: 7000; */
}

.Download-center {
  text-align: center;
}

/* Contact page */

.contact-spacing {
  padding-bottom: 5em;
}

.contact-section {
  max-width: 80em;
  width: 55%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 9em;
  /* margin-bottom: 15em; */
}

/* for input placeholder text colors */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BBBBBB;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BBBBBB;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #BBBBBB;
}

.contact-section h1 {
  font-size: 40px;
  padding-top: 1em;
  margin: 80px 0 40px;
  background: linear-gradient(0deg, #F13500, #FFB400);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Poppins', sans-serif;
}

.contact_inputs {
  margin: 0 auto;
  width: 37em;
  margin-top: 4em;
  margin-bottom: 2em;
}

.top_input {
  display: flex;
  justify-content: space-between;
}

.top_input input {
  width: 45%;
  padding-bottom: 10px;
}

.contact_inputs input{
  border: none;
  border-bottom: 2px solid #AAAAAA;
}

.contact_last-input {
  margin-top: 2em;
  width: 100%;
  padding-bottom: 7.5em;
}

.contact_button {
  position: absolute;
  right: 0px;
  width: 55em;
  margin-top: 2em;
  margin-right: 5.5em;
}

.contact_btn-nobg {
  box-shadow: 2px 1000px 1px rgb(255, 255, 255) inset;
}
